<script id='bootstrap-current-user' type="text/javascript">
  <% if logged_in? %>
    window.currentUser = {
      id: <%= current_user.id %>,
      username: "<%= current_user.username.html_safe %>"
    }
    <% end %>
  </script>

  <script>
    window.yellowStar = "<%= asset_path('yellow_star.png') %>"
    window.hollowStar = "<%= asset_path('hollow_star.png') %>"
    window.graph = "<%= asset_path('graph.png') %>"
  </script>

<main id="root"></main>
