<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129029106-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129029106-2');
    </script>
    <title>PageTurners</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather|Righteous|Homemade+Apple" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
